.displayCard {
  width: 100%;
  height: 100%;

  .displayCard__header {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  .displayCard__content {
    background-color: #FFFFFF;
    padding: 24px;
    height: 85%;
    overflow-y: auto;
  }
}
